#container
{
  width: 900px;
  margin: 0 auto;
}

h1
{
  margin-top: 30px;
}

form input[type="text"]
{
  width: 890px;
}

p.value
{
  font-size: 200%;
  margin: 40px 0;
}

#number-base
{
  margin-bottom: 20px;
}

#number-base p
{
  margin-bottom: 10px;
}

#number-base label:first-child
{
  margin-left: 0;
}

#number-base label
{
  margin-left: 20px;
  margin-top: -2px;
}

#number-base label, #number-base input[type="radio"]
{
  float: left;
}

#error.flash{padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
#error.flash{background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
height: 0; }
.row:after,
.clearfix:after {
clear: both; }
.row,
.clearfix {
zoom: 1; }
